/* Footer.module.css */
.footer {
    font-family: var(--font-family);
    color: var(--text-color);
    text-align: center;
    padding: 20px;
    font-size: 1rem; /* Usando rem para escalabilidade */
    cursor: default;
    background-color: var(--footer-bg-color);
    box-sizing: border-box;
    width: 100%; /* Garante que o footer ocupe toda a largura */
}

.footer p {
    margin: 0 0 10px;
    cursor: default;
}

.socialLinks {
    display: flex;
    justify-content: center;
    gap: 15px;
    transition: transform 0.5s;
}

.socialLinks img {
    width: 30px; /* Tamanho padrão */
    height: 30px; /* Tamanho padrão */
    transition: transform 0.5s, box-shadow 0.5s;
}

.socialLinks img:hover {
    transform: scale(1.2);
    box-shadow: 1px 1px 5px var(--shadow-color);
    border-radius: 10px;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .footer {
        padding: 15px; /* Reduz o padding em telas menores */
        font-size: 0.9rem; /* Reduz o tamanho da fonte */
    }

    .socialLinks img {
        width: 25px; /* Reduz o tamanho dos ícones */
        height: 25px; /* Reduz o tamanho dos ícones */
    }
}

@media (max-width: 480px) {
    .footer {
        padding: 10px; /* Reduz ainda mais o padding */
        font-size: 0.8rem; /* Reduz ainda mais o tamanho da fonte */
    }

    .socialLinks img {
        width: 20px; /* Reduz ainda mais o tamanho dos ícones */
        height: 20px; /* Reduz ainda mais o tamanho dos ícones */
    }

    .socialLinks {
        gap: 10px; /* Reduz o espaçamento entre os ícones */
    }
}