/* App.css */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh; /* Garante que o App ocupe pelo menos a altura da tela */
  padding: 20px;
  box-sizing: border-box;
  width: 100%; /* Garante que o App ocupe toda a largura */
}

body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to top, var(--primary-color) 0%, var(--secondary-color) 100%);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%; /* Garante que o body ocupe toda a largura */
}

/* Media Queries para Responsividade */

/* Telas menores que 768px */
@media (max-width: 768px) {
  .App {
    padding: 15px; /* Reduz o padding */
  }

  body {
    font-size: 14px; /* Reduz o tamanho da fonte */
  }
}

/* Telas menores que 480px */
@media (max-width: 480px) {
  .App {
    padding: 10px; /* Reduz ainda mais o padding */
  }

  body {
    font-size: 12px; /* Reduz ainda mais o tamanho da fonte */
  }
}

/* Imagens Responsivas */
img {
  max-width: 100%; /* Garante que as imagens não ultrapassem o contêiner */
  height: auto; /* Mantém a proporção da imagem */
}