.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(to top, var(--primary-color) 0%, var(--secondary-color) 100%);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Media Queries para telas menores */

/* 2560 x 1636 */
@media (max-width: 2560px) {
  .App {
    margin: 0;
  }
}

/* 1440 x 851 */
@media (max-width: 1440px) {
  .App {
    margin: -4em 0 0 0;
  }
}

/* 1024 x 851 */
@media (max-width: 1024px) {
  .App {
    margin: 4em 0 6.5em 0;
  }
}

/* 768 x 851 */
@media (max-width: 768px) {
  .App {
    height: auto;
    min-height: 100vh;
  }
  body {
    padding: 10px;
  }
}

/* 425 x 851 */
@media (max-width: 425px) {
  .App {
    padding: 5px;
  }
  body {
    padding: 5px;
  }
}

/* 375 x 851 */
@media (max-width: 375px) {
  .App {
    padding: 4px;
  }
  body {
    padding: 4px;
  }
}

/* 320 x 851 */
@media (max-width: 320px) {
  .App {
    padding: 3px;
  }
  body {
    padding: 3px;
  }
}